<ng-container *ngIf="authenticatedUser">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand" routerLink="/home">
            <img [src]="navBarLogo" alt="sai-logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link">
                        <img [src]="homeIcon" class="filter-white">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <img [src]="messengerIcon" class="filter-white">
                        Messenger
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <img [src]="friendsIcon" class="filter-white">
                        Friends
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <img [src]="notificationIcon" class="filter-white">
                        Notifications</a>
                </li>


            </ul>

            <ul class="navbar-nav float-right authenticatedUser">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="fw-bolder user-name">
                            {{authenticatedUser.firstName}} {{authenticatedUser.lastName}}
                        </span>
                        <ng-container>
                            <img [src]="profilePictureUrl" class="rounded-circle profile-picture">
                        </ng-container>
                    </a>
                    <div class="dropdown-menu">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                                checked="">
                                            <label class="custom-control-label" for="customSwitch1">online </label>
                                        </div>

                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a routerLink="/home">
                                            News
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a routerLink="/home">
                                            News
                                        </a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </li>
            </ul>
        </div>

    </nav>
</ng-container>