.c-links {
  display: flex;
  position: absolute;
  list-style: none;
  text-transform: uppercase;

  li {
    margin: 1rem;
  }

  li a {
    color: white;
  }
}

.img-icon {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.2rem;
}

.svg-color {
  filter: invert(98%) sepia(2%) saturate(9%) hue-rotate(55deg) brightness(102%)
    contrast(105%);
}

.c-icons {
  float: right;
  cursor: pointer;
}

@media (max-width: 480px) {
  .c-icons > ul {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .svg-color {
    filter: invert(39%) sepia(86%) saturate(820%) hue-rotate(178deg)
      brightness(85%) contrast(101%);
  }

  .img-icon {
    height: 4rem;
  }
}

@media (max-width: 280px) {
  .c-links {
    width: 100%;
    justify-content: center;
  }

  .c-links li a {
    font-size: 0.9rem;
    margin-left: 0;
    margin-right: 0;
  }

  .c-icons {
    float: none;
    position: absolute;
    top: 18.5rem;
    left: 6rem;
  }

  .c-icons > ul {
    width: 100%;
    justify-content: center;
  }
}
