.scai-backgroung {
  background-color: #1976d2;
  background: linear-gradient(145deg, #0d47a1, #42a5f5);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 75vh;
  box-sizing: border-box;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  height: 60vh;
}

// .scai-consulting-logo {
//   height: 20rem;
//   width: 20rem;
// }

.img-icon {
  width: 2rem;
  height: 3rem;
}

.svg-color {
  filter: invert(98%) sepia(2%) saturate(9%) hue-rotate(55deg) brightness(102%)
    contrast(105%);
}

.c-links {
  display: flex;
  position: absolute;
  list-style: none;
  text-transform: uppercase;

  li {
    margin: 1rem;
  }

  li a {
    color: white;
  }
}

.c-icons {
  float: right;
  cursor: pointer;
}

.fixit-on-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.body > img {
  width: 100%;
  height: 20rem;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.my-button {
  letter-spacing: 0.03rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border: none;
  color: #1976d2;
  font-weight: 600;
  line-height: 4rem;
  background-color: #fff;
  border-radius: 3rem;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  transition: box-shadow 0.6s;
}

.my-button:hover {
  background-color: #1976d2;
  color: #fff;
  box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
}

@media (min-width: 1201px) {
  .scai-backgroung {
    height: 80vh;
  }

  .body > img {
    width: unset;
    height: unset;
  }

  .c-buttons {
    width: 30%;
  }

  .img-icon {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0.2rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .scai-backgroung {
    height: 80vh;
  }

  .body > img {
    width: unset;
    height: 30rem;
  }

  .c-buttons {
    width: 50%;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .body > img {
    height: 25rem;
  }
}

@media (max-width: 480px) {
  .scai-backgroung {
    transform: unset;
    transform-origin: unset;
    height: 55vh;
  }

  .body > img {
    width: 100%;
    height: 40%;
    transform: translate(-50%, 15%);
  }

  .my-button {
    width: 100%;
  }

  .sign-up-button {
    background-color: #1976d2;
    p {
      color: white;
    }
  }

  .fixit-on-bottom {
    bottom: 12.2rem;
  }

  .c-icons > ul {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .svg-color {
    filter: invert(39%) sepia(86%) saturate(820%) hue-rotate(178deg)
      brightness(85%) contrast(101%);
  }

  .img-icon {
    width: 3rem;
    height: 4rem;
  }
}

@media (max-width: 280px) {
  .c-links {
    width: 100%;
    justify-content: center;
  }

  .c-links li a {
    font-size: 0.9rem;
    margin-left: 0;
    margin-right: 0;
  }

  .c-icons {
    float: none;
    position: absolute;
    top: 18.5rem;
    left: 6rem;
  }

  .c-icons > ul {
    width: 100%;
    justify-content: center;
  }

  .scai-backgroung {
    height: 45vh;
  }

  .body > img {
    height: 25%;
    transform: translate(-50%, 40%);
  }
}
