<div fxLayout="row" class="unselectable">
    <div class="body">
        <img class="scai-consulting-logo" [src]="scaiConsultingLogo" alt="Scai_Consulting_Logo ">
    </div>
    <div class="c-buttons fixit-on-bottom">
        <ul class="mx-4 my-5 p-0">
            <li class="m-3">
                <a class="my-button" [routerLink]="['/sign-in']">
                    <p>Sign in</p>
                </a>
            </li>
            <li class="m-3">
                <a class="my-button sign-up-button " [routerLink]="['/sign-up']">
                    <p>Sign up</p>
                </a>
            </li>
        </ul>
    </div>
</div>